body {
    background-color: rgb(233, 233, 233);
    color: #111;
    transition: 1s ease-in-out;
}

.period-spacing {margin-left: -1.2%;}

hr {
    margin: 0 9.3% 0% 13.3%;
    border: 2px solid #26619C;
    border-radius: 5px;
    transition: 1s border ease-in-out;   
}

.dark-mode hr {
    margin: 0 9.3% 0% 13.3%;
    border: 2px solid #BB131C;
    border-radius: 5px;
}

/* Dark Mode */
button {
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.fixed-button {
    right: 2.5%;
    bottom: 80%;
    width: 4.5rem;
    position: fixed;
}

.dark-mode {
    background-color: #111;
    color: rgb(233, 233, 233)
}

.theme-toggle {
    color: inherit;
}

/* Scroll Bar */

/* Width */
::-webkit-scrollbar {width: 1vw;}

/* Track */
::-webkit-scrollbar-track {margin-block: 3em;}
   
/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: darkgray;
    -webkit-box-shadow: inset 0 0 5px rgb(0, 0, 0);  
}

/* Handle on Hover */
::-webkit-scrollbar-thumb:hover {background: lightgray;}

/* Highlighter */
::selection {
    background-color: #26619C;
    color: aliceblue;
}

.dark-mode ::selection {
    background-color: #BB131C;
    color: aliceblue;
}

/* Animations */ 

/* Page Animation */
.transition {animation: transition .75s;}

@keyframes transition {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Typewriter Animation */
.typewriter h1 {
    width: 12.7%;
    overflow: hidden;
    letter-spacing: .50px;
    border-right: 15px solid;
    animation: 
        typing 1.5s steps(8),
        blink .5s step-end infinite alternate;

}

.typewriter-two h1 {
    width: 12.7%;
    overflow: hidden;
    letter-spacing: .50px;
    border-right: 15px solid;
    animation: 
        typing 1s steps(8),
        blink .5s step-end infinite alternate;
}

.typewriter-three h1 {
    width: 15.9%;
    overflow: hidden;
    letter-spacing: .60px;
    border-right: 15px solid;
    animation: 
        typing 1.5s steps(10),
        blink .5s step-end infinite alternate;
}

@keyframes blink {
    50% {border-color: transparent;}
}

@keyframes typing {
    from{width: 0;}
}

/* Blog */
.title {
    margin-left: 17.1%;
    margin-top: 3.5%;
    font-size: 35px;
    font-family: monospace;
    color: #26619C;
    transition: 1s color ease-in-out;
}

.dark-mode .title {color: #BB131C;}

.sub-title {
    margin-left: 17.3%;
    font-size: 20px;
    font-family: monospace;
    color: #26619C;
    transition: 1s color ease-in-out;
}

.dark-mode .sub-title {color: #BB131C;}

.about-text{
    margin-left: 17.5%;
    margin-right: 10%;
    font-family: monospace;
    font-size: 127%;
    letter-spacing: 2px;
    line-height: 2em;
}

.program-info {
    margin-left: 17.5%;
    margin-right: 8%;
    font-family: monospace;
    font-size: 127%;
    letter-spacing: 2px;
    line-height: 2em;
}

.unordered-list {
    margin-left: 19%;
    font-size: 131%;
    font-family: monospace;
    letter-spacing: 2px;
    line-height: 2em;
    list-style-type: none;
}

li::before {
    content: "\25E6";
    color: #26619C;
    width: 1em;
    font-size: 1.5em;
    font-weight: bold;
    margin-left: -1em;
    display: inline-block; 
    transition: 1s color ease-in-out;
}

.dark-mode li::before {
    content: "\25E6";
    color: #BB131C;
    width: 1em;
    font-size: 1.5em;
    font-weight: bold;
    margin-left: -1em;
    display: inline-block; 
}

/* Links */
.links:link {
    color: #26619C;
    font-style: italic;
    text-decoration: none;
    transition: .5s color ease-in-out
}

.links:visited {color: #26619C;}

.links:hover {color: #bc1dbc;}

.dark-mode .links:link {color: #BB131C;}

.dark-mode .links:visited {color: #BB131C;}

.dark-mode .links:hover {color: #ff0410;}

/* Hacker Manifesto */
#spacing {
    margin: 5% 0 5% 43.5%;
    font-size: 28px;
}

#manifesto:link, #manifesto:visited {
    color: #26619C;
    text-decoration: none;
    text-shadow: 0px 0px 13px #0080ff;
    transition: 
        text-shadow .7s ease-in-out,
        color .7s ease-in-out;
}

#manifesto:hover {
    color: #9c2692;
    text-shadow: 
        0px 0px 13px #bc1dbc, 
        0px 0px 13px #409fff;
}

.dark-mode #manifesto:link {
    color: #20aa00;
    text-decoration: none;
    text-shadow: 
        0px 0px 13px #006400, 
        0px 0px 13px #006400;
    transition: 
        text-shadow .7s ease-in-out,
        color .7s ease-in-out;
}

.dark-mode #manifesto:visited {color: #20aa00;}

.dark-mode #manifesto:hover {
    text-shadow: 
        0px 0px 13px #00ff00, 
        0px 0px 13px #006400;
}

/* Media Queries */

/* Media Querie For Desktops and TVs*/
@media screen and (min-width: 1500px) {    
    .period-spacing {margin-left: -1%;}

    /* Dark Mode */
    .fixed-button {
        right: 2.5%;
        bottom: 84%;
        width: 6rem;
        position: fixed;
    }
    
    /* Scroll Bar */

    /* Width */
    ::-webkit-scrollbar {width: .8vw;}

    /* Track */
    ::-webkit-scrollbar-track {margin-block: 16em;}
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: rgb(175, 175, 175);
        -webkit-box-shadow: inset 0 0 5px rgb(0, 0, 0); 
    }

    body {overflow-x: hidden}

    /* Typewriter Animation */
    .typewriter h1 {
        width: 10.5%;
        overflow: hidden;
        letter-spacing: .50px;
        border-right: 15px solid;
        animation: 
            typing 1.5s steps(8),
            blink .5s step-end infinite alternate;
    }

    .typewriter-two h1 {
        width: 10.5%;
        overflow: hidden;
        letter-spacing: .50px;
        border-right: 15px solid;
        animation: 
            typing 1s steps(8),
            blink .5s step-end infinite alternate;
    }

    .typewriter-three h1 {
        width: 13.1%;
        overflow: hidden;
        letter-spacing: .60px;
        border-right: 15px solid;
        animation: 
            typing 1.5s steps(10),
            blink .5s step-end infinite alternate;
    }

    /* Blog */
    .title {
        margin-left: 17.1%;
        margin-top: 3.5%;
        font-size: 44px;
        font-family: monospace;
        color: #26619C;
        transition: 1s color ease-in-out;
    }
    
    .sub-title {
        margin-left: 17.1%;
        font-size: 30px;
        font-family: monospace;
        color: #26619C;
        transition: 1s color ease-in-out;
    }    
    .about-text {
        margin-left: 17.3%;
        margin-right: 10%;
        font-size: 170%;
        line-height: 2em;
        letter-spacing: 2px;
        font-family: monospace;
    }    

    .program-info {
        margin-left: 17.3%;
        font-size: 170%;
        line-height: 2em;
        letter-spacing: 2px;
        font-family: monospace;
    }

    .unordered-list {
        margin-left: 19%;
        margin-right: 113px;
        font-size: 170%;
        font-family: monospace;
        letter-spacing: 2px;
        line-height: 2em;
        list-style-type: none;
    }    
    
    /* Hacker Manifesto */
    #spacing {
        font-size: 43px;
        margin: 7% 0 7% 45%;
    }    

}

/* Media Querie For Mobile Devices */
@media screen and (max-width: 600px) {
    .period-spacing {margin-left: -3%;}

    hr {
        margin: 0 13.3% 0% 13.3%;
        border: 2px solid #26619C;
        border-radius: 5px;
        transition: 1s border ease-in-out;   
    }

    .dark-mode hr {
        margin: 0 13.3% 0% 13.3%;
        border: 2px solid #BB131C;
        border-radius: 5px;
    }

    /* Dark Mode */
    button {
        margin: 0;
        padding: 0;
        border: none;
        cursor: pointer;
        background-color: transparent;
    }

    .fixed-button {
        right: 1%;
        bottom: 85%;
        width: 3.5rem;
        position: fixed;
    }

    /* Hide Scroll Bar */
    ::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }

    /* Typewriter Animation */
    .typewriter h1 {
        width: 42%;
        overflow: hidden;
        letter-spacing: .50px;
        border-right: 15px solid;
        animation: 
            typing 1.5s steps(8),
            blink .5s step-end infinite alternate;
    }

    .typewriter-two h1 {
        width: 33%;
        overflow: hidden;
        letter-spacing: .50px;
        border-right: 15px solid;
        animation: 
            typing 1s steps(8),
            blink .5s step-end infinite alternate;
    }

    .typewriter-three h1 {
        width: 41%;
        overflow: hidden;
        letter-spacing: .60px;
        border-right: 15px solid;
        animation: 
            typing 1.5s steps(10),
            blink .5s step-end infinite alternate;
    }

    @keyframes blink {
        50% {border-color: transparent;}
    }

    @keyframes typing {
        from{width: 0;}
    }
    
    /* Blog */
    .title {
        margin-left: 17.1%;
        margin-top: 5.5%;
        font-size: 35px;
        font-family: monospace;
        color: #26619C;
        transition: 1s color ease-in-out;
    }
    
    .about-text {
        margin-left: 90px;
        margin-right: 65px;
        font-size: 130%;
        line-height: 2em;
        letter-spacing: 2px;
        font-family: monospace;
    }    

    .program-info {
        margin-left: 85px;
        margin-right: 100px;
        font-size: 130%;
        line-height: 2em;
        letter-spacing: 2px;
        font-family: monospace;
    }
    /* Hacker Manifesto */
    #spacing {
        font-size: 28px;
        margin: 10% 0 10% 33%;
    }    

}
